*{
    margin: 0%;
    padding: 0%;
}

a{
 color: gold;
}

body{
    background-color:darkblue;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    background-color: darkblue;
    align-items: center;
    box-shadow: 0 0 10px 0;
}
.links{
    margin-left: auto;
    padding: 20px;

}

.link{
    margin: 20px;
}

.signup-form{
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    background-color:lightblue;

    
    
}

label{
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 90%;
    height: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="submit"]{
    width: 100%;
    height: 20px;
    background-color: mediumslateblue;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color:red;
    color: whitesmoke;
}